		<style>
			* {
				margin:0px auto;
				font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
				//border:solid #333 1px;
			}
			* a{
				text-decoration: none;
				color:#333;
			}

			* a:visited{
				color:#333;
			}
		</style>
		<div>
			<div style="
				float:left;
				width:100%; 
				text-decoration:none; 
				background: white;
				color:#333;
				">
				<span style="float:left;">
					<a href="/" style="
						text-decoration:none; 
						font-weight:bold; 
						font-size:120%; 
						">
						<span style="
							color: #333; 
							float: left;
							margin-left: 10px;
							margin-top: 3px;
							margin-right: 40px;			
							">
							<img src="/img/empty_white_favicon.png" height="18px"/>
							Bld3r
						</span>
					</a>
					<span style="margin-top:5px; float:left;">
						<span  style="margin-right:5px;" title="New to 3d printing? Learn at Bld3r university.">
							<a href="/university">	
								learn
							</a>
						</span>
						|
						<span  style="margin-right:5px;" title="News about 3d printing.">
							<a href="/news">	
								news
							</a>
						</span>
						|
						<span  style="margin-right:5px; margin-left:5px;" title="Bld3r's wiki.">
							<a href="/w/home">
								community
							</a>
						</span>
						|
						<span  style="margin-right:5px;  margin-left:5px;" title="Search for an object.">
							<a style="text-decoration:none;" href="/tag">
								search
							</a>
						</span>
					</span>
				</span>
			</div>
			<div style="clear:both;height:1px">
			</div>

			<div style="
				width: 920px; 
				display: block; 
				margin-right: auto; 
				margin-left: auto;
				">
				<img src="/img/500.png" />
			</div>
		</div>