<div class="beta_info" style = "
	clear:both;
	margin: 5px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 20px 100px;
	text-align: justify;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #f5f5f5;
	display: none;
	"> 
	1-2-14: We fixed the <a href="/tag">tag seach page</a> so you should be able to see the top print tag categories again. Also we've added more sorting options to the navigation menu above for the tutorials and news pages. Now you can order by hot, new, and top posts. We are working on adjusting the hot algorithm to make sure that popular objects gravitate toward the top more consistently. 
	<br>
	<br>
	1-1-14: Happy New Year! Thanks to everyone who joined the community over the last year. You all made the months of effort in making this site worth it for Matt and me. It's a thrill whenever you all upload, link, and vote on objects. We just want to not be horrible!
	<br>
	<br>
	12-27-13: We've touched up a few CSS issues related to infinite scroll, adding pictures, and editing tags. Also, we're working on fixing the Tag Search page. You can still search for tags in the input box in the navigation menu. 
	<br>
	<br>

	12-1-13: We've updated the navigation menu above to include dropdown options so you won't have to needlessly wait for pages to load.
	<br>
	<br>

	11-21-13: Hey, it's Matt here.
	I'm working on speeding up the front page load time. 
	This may take a while, but it's just too slow.
	We may eventually move away from <a href="http://masonry.desandro.com/">masonry</a> after we open source.
	<br>
	<br>

	10-19-13: Hey, we've noticed that there is a lot of traffic coming from the <a href="http://reprap.org/wiki/Printable_part_sources">RepRap wiki printable parts sources page</a>.
	In response to this, we have made a special <a href="http://www.bld3r.com/parts">reprap parts</a> section. We've tried to fill it with links or files for some of the main reprap models. 
	This should take some time to build and fill, but it seems like something that will be very valuable to the indie 3D printing community. We could use your help!
	<br>
	<br>

	8-6-13: Hey, Matt again. 
	We are happy to introduce the new front page! The site is more than just awesome objects. So the front now contains all the elements of our site that you share, including
	tutorials, questions, and news. For just the objects go to <a href="http://www.bld3r.com/objects">bld3r.com/objects</a>.
	Also, we embedded videos on the front. 
	<br>
	<br>

	7-29-13: Hi, <a href="http://www.bld3r.com/user/2001">Thong</a> here. 
	Youtube videos are now embedded in the <a href="/university">tutorials</a>, <a href="/news">news</a>, and <a href="/obj/129001">lesson</a> pages using <a href="http://www.videojs.com/" target="_blank">video.js</a>.  
	Infinite scroll loads more smoothly. 
	We redesigned the <a href="http://www.bld3r.com/obj/5825281323433984">object pages</a> with new icons for 3D view <img src="/img/glassestiny.png" width="15" />, printshelf <img src="/img/print_shelf.png" width="15" />, and <a href="http://www.creativecommons.org" target="_blank"> Creative Commons</a> <img src="/img/creative_commons_cc.png" width="12" /> licenses. And thanks to <a href="http://www.bld3r.com/user/111001">Kirk</a> for printing a <a href="http://www.bld3r.com/obj/134001">Bld3r.com logo</a>!
	<br>
	<br>

	7-21-13: Infinite scroll functions. 
	You can opt out when signing up or on your user edit page.
	<br>
	<br>

	6-30-13: <a href="http://thingtracker.net/" target="_blank">
		Thingtracker
	</a>
	is now 
	<a href="http://www.bld3r.com/thingtracker">functional</a>. 
	Here is an example from an individual 
	<a href="http://www.bld3r.com/obj/18001.json">object</a> 
	(special thanks to 
	<a href="https://plus.google.com/communities/112691591186958693265" target="_blank">
		Gary
	</a> 
	for helping us get it set up).
	<br>
	<br>

	6-27-13: <a href="https://www.udacity.com/course/cs291" target="_blank">
		Three.js and WebGL
	</a>
	are functional for 
	<a href="http://www.bld3r.com/obj/18001?webgl=True">uploaded objects</a>.
	<br>
	<br>
	Your suggestions matter. Feel free to <a href="http://www.bld3r.com/contact">email us</a>.	
</div>