<script>

    var container, camera, scene, renderer;
    var boundmax = 0;
    var obj_size_to_window = 5/10

    init();
    animate();

    function init() {

        container = document.createElement( 'div' );
        //document.body.appendChild( container );
        var InfoDiv = document.getElementById('floating_obj_here');
        InfoDiv.appendChild( container );

        camera = new THREE.PerspectiveCamera( 35, window.innerWidth / window.innerHeight, 1, 10000 );
        camera.position.set( 3, 0.5, 3 );

        scene = new THREE.Scene();

        // object

        var loader = new THREE.STLLoader();
        loader.addEventListener( 'load', function ( event ) {

            var geometry = event.content;

            var material = new THREE.MeshLambertMaterial( { ambient: 0x666666, color: 0xd45e6a } );

            var mesh = new THREE.Mesh( geometry, material );

            var boundBox = geometry.computeBoundingBox();

            var maxside = Math.max(geometry.boundingBox.max.x, geometry.boundingBox.max.y, geometry.boundingBox.max.z);

            window.boundmax = maxside;

            scene.add( mesh );

        } );
        loader.load( '{{the_obj.stl_file_link}}' );

        // lights

        scene.add( new THREE.AmbientLight( 0x222222 ) );

        var directionalLight = new THREE.DirectionalLight( 0xffffff, 1 );
        directionalLight.position = camera.position;
        scene.add( directionalLight );

        // renderer

        renderer = new THREE.WebGLRenderer( { antialias: true } );
        
        renderer.setSize( window.innerWidth * obj_size_to_window, window.innerHeight * obj_size_to_window);

        container.appendChild( renderer.domElement );

        window.addEventListener( 'resize', onWindowResize, false );

    }

    function addLight( x, y, z, color, intensity ) {

        var directionalLight = new THREE.DirectionalLight( color, intensity );
        directionalLight.position.set( x, y, z )
        scene.add( directionalLight );

    }

    function onWindowResize() {

        camera.aspect = window.innerWidth / window.innerHeight;

        camera.updateProjectionMatrix();

        renderer.setSize( window.innerWidth * obj_size_to_window, window.innerHeight * obj_size_to_window );

    }

    function animate() {

        requestAnimationFrame( animate );

        render();

    }

    function render() {

        var timer = Date.now() * 0.0005;

        camera.position.x = Math.sin( timer ) * 2.5 * boundmax;
        camera.position.y = Math.sin( timer ) * 2.5 * boundmax;
        camera.position.z = Math.cos( timer ) * 2.5 * boundmax;

        camera.lookAt( scene.position );

        renderer.render( scene, camera );

    }

</script>