		<div style="height:0px;
			clear:right;
			padding-right:5px; 
			padding-bottom:2px; 
			padding-left:5px; 
			margin-top:-23px; 
			margin-bottom: 30px;
			margin-right:150px; 
			margin-left: 4px; 
			border-radius:4px; 
			font-size:10px; 
			float:left;
			">
			<div style="
				font-size:10px;
				float: left;
				margin-right: 10px;
				color:#a3a3a3;
				">
				A 3D Printing Social Network
			</div>
			<br>
			<div class="beta_update" style="width:65px; clear:both; margin-top:3px; margin-left:0px; font-size:10px; font-weight: bold; color:#fff; background: #c04848; border: 1px solid #fafafa; padding:5px; margin-bottom:5px; cursor:pointer;">
				Beta Updates
			</div>		
<!-- 				<a href="/">
					<span style="color:#0077cc;">
						hot
					</span>
				</a> 
				| 
				<a href="/newmain">
					<span style="color:#0077cc;">
						new
					</span>
				</a> 
				| 
				<a href="/topmain">
					<span style="color:#0077cc;">
						top
					</span>
				</a> 
				| 
				<a href="/recentcommentsmain">
					<span style="color:#0077cc;">
						recent comments
					</span>
				</a>
			</span> -->
		</div>