<!DOCTYPE html>
<html>
<head>
	<title>
		Bld3r
	</title>
	<meta name="description" content="Bld3r.com is a 3D printing community for both beginners and enthusiasts. Maybe you have creations you want to share with others, or maybe you just want to learn how to do basic 3D modeling or find out which printer is right for you. We like to print in 3D, and we want to make it easier for everyone." />
	<meta property="og:image" content="http://www.bld3r.com/img/bld3r_cover.png" />	
	<link type="text/css" rel="stylesheet" href="/css/front.css" />
	{% include "scripts.html" %}
	<style>
		* {
			margin:0px auto;
			font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
			//border:solid #999 1px;
		}
	</style>
</head>

<body>		
	{% include "header3.html" %}
	<span class="loader" style="
		position:fixed;
		left:50%;
		top:50%;
		">
		<img src="/img/loader.gif" />
	</span>
	<div class="background">
		<br>

		{% include "front_selections.html"%}

		{% include "beta_updates.html" %}

		<div id="masonry_division" style="
			margin-top: -8px;
			margin-right:0 auto;
			margin-left:0 auto;
			">
			{% for object in the_dict %}
				{% include "masonry_for_front.html" %}
				
			{% endfor %}
		</div>
		<span style="clear:both;"></span>
		{% if end_of_content %}
			<div style="
				margin-bottom: 10px; 
				margin-left:0 auto; 
				margin-right:0 auto; 
				width: 200px; 
				text-align:center; 
				padding:20px; 
				font-size:18px; 
				background:white;
				border-radius:5px;
				">
				end of content
			</div>
		{% else %}
			<div style="
				margin-bottom: 7px; 
				margin-left:0 auto; 
				margin-right:0 auto; 
				width: 200px; 
				text-align:center; 
				padding:20px; 
				font-size:18px; 
				background:white;
				border-radius:5px;">
				<a href="{{cursor_url}}{{cursor}}">
					Next Page
				</a>
			</div>
		{% endif %}
		<div>
			<a href="https://plus.google.com/u/0/103008907193510096674/posts">
				&nbsp;
			</a>
			<br>
		</div>

	</div>
</body>
</html>