<!DOCTYPE html>
<html>
<head>
	
	<title>
		Bld3r Upload Step 1
	</title>
	<meta name="description" content="Bld3r.com is a 3D printing community for both beginners and enthusiasts. Maybe you have creations you want to share with others, or maybe you just want to learn how to do basic 3D modeling or find out which printer is right for you. We like to print in 3D, and we want to make it easier for everyone." />
	<meta property="og:image" content="http://www.bld3r.com/img/bld3r_cover.png" />		
	{% include "scripts.html" %}
		
</head>
<style>
	* {
		margin:0px;
		font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
		//border:solid #999 1px;

	}
	* a{
		text-decoration: none;
		color:#0077cc;
	}

	* a:visited{
		color:#4a6b82;
	}

	* td {
		padding-bottom: 20px;
		padding-right: 50px;
		vertical-align:text-top;
		color:#333;
		font-size:18px;
		min-width: 90px;
	}

	.error {
		color:red;
	}
	.all {
		float:left;
		margin-top: 10px;
		margin-left: 20px;
	}
	.top {
		float:left;
	}
	.top * {
		float:left;
		font-size: 40px;
		font-weight: bold;
		max-width: 800px;
		margin-left: 15px;
	}
	form {
		clear:both;
		margin-top: 20px;
		max-width: 800px;
	}

</style>
<body>
	{% include "header3.html" %}

	<div class="backspace"style="
			width:100%;
			">
		<div class="center_container" style="
				width:1100px;   
				display: block;
		  		margin-left: auto;
		  		margin-right: auto;
		  		">	

			<div class="top" style="width:1000px; margin-top:20px;">
				<img src="/img/up.ico" width="100px" height="auto" />
				<div>
					Step 1 of 3:	
					<br>
					Upload your file			
				</div>
			</div>
			<div style="padding-top:10px;clear:both;">
				<hr>
			</div>
			<div class="input_container" style="float:left; width:600px;  height:auto;">
				<form method="post" action="{{photo_upload_url}}" enctype="multipart/form-data">
					<table>
						<tr>
							<td>		
								Title
							</td>
							<td>
								<input type="text" name="title" value="{{title}}" style="width:450px; font-size:30px;">
						
								{% if error_1 %}
									<span class="error">
										{{error_1}}
									</span>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>
								.stl file
								<br>
								(ascii only)
							</td>
							<td>
								<input type="file" name="file" value="{{main_file}}">
								{% if file_error %}
									<br>
									<div class="error" style="padding-top:5px;">
										{{file_error}}
									</div>
								{% endif %}
								{% if file_type_error %}
									<div style='color:red;padding-top:5px;'>
										{{file_type_error}}						
									</div>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>
								Copyright
							</td>
							<td>
								<input type="checkbox" name="rights" value="yes" {% if rights %} checked {% endif %}>
								Sharing this file complies with the <a href="/tos" target="_blank">terms of service</a>.
								{% if error_3 %}
									{% if not file_error %}
										<br>
										<div class="error" style='padding-top:5px;padding-left:25px;'>
											{{error_3}}
										</div>
									{% endif %}
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>
								License 
								<br>
								<br>
								<a href="http://creativecommons.org/choose/" target="_blank">
									What is Creative Commons (CC)?
								</a> 
							</td>
							<td>
								I
								<span style="color:green;">
									am 
								</span>
								the author of this work:
								<br>
								<div style="
									margin-left:18px; 
									margin-top: 4px;
									margin-bottom: 6px; 
									font-size: 12px;"
									>
									Creative Commons (CC) Licenses we accept:
								</div>
								<span class="is_author">
									<input type="radio" name="license" value="cc_pd" {% if cc_pd %}checked{% endif %}> 
								</span>
								CC - Public Domain Dedication
								<br>
								<span class="is_author">
									<input type="radio" name="license" value="cc_a" {% if cc_a %}checked{% endif %}> 
								</span>
								CC - Attribution
								<br>
								<span class="is_author">
									<input type="radio" name="license" value="cc_a_sa" {% if cc_a_sa %}checked{% endif %}> 
								</span>
								CC - Attribution - Share Alike
								<br>
								<span class="is_author">
									<input type="radio" name="license" value="cc_a_nc" {% if cc_a_nc %}checked{% endif %}> 
								</span>
								CC - Attribution - Non-Commercial
								<br>
								<span class="is_author">
									<input type="radio" name="license" value="cc_a_sa_nc" {% if cc_a_sa_nc %}checked{% endif %}> 
								</span>
								CC - Attribution - Share Alike - Non-Commercial
								<br>
								<span class="is_author">
									<input type="radio" name="license" value="cc_lgpl" {% if cc_lgpl %}checked{% endif %}> 
								</span>
								CC - GNU Lesser General Public License
								<br>
								<span class="is_author">
									<input type="radio" name="license" value="bsd" {% if bsd %}checked{% endif %}> 
								</span>
								BSD License
								<br>
								<div style="
									margin-left: 17px;
									margin-top: 16px;
									margin-bottom: 16px; 
									font-size: 12px;
									">
									If the license you want does not appear in this list you must
									<a href="/newlink" target="_blank">
										link 
									</a>
									to it instead. Unfortunately, we only host files with these licenses.
								</div>
								<span id="not_author">
									<input type="radio" name="license" value="not_author" {% if not_author %}checked{% endif %}>
								</span>
								I am 
								<span style="color:red;">
									not 
								</span>
								the author of this work. 
								<br>
								<span style="font-size:12px;">
									(Please consider 
									<a href="/newlink">
										linking
									</a>
									to this work instead, file storage costs money, links do not)
								</span>
								<br>
								<div id="sublicense" style="margin-left: 20px; opacity: 0; height: 0;">
									<br>
									Author's license:
									<br>
									<div style="font-size:12px; margin-bottom:4px">
										<span style="color:red;">
											Required
										</span>
										if submitting someone else's work.
										Please take the time to make sure what you are sharing is licensed, by its original author and all other relevant authors, under one of follow licenses. 
										<span style="color:red;">
											If the author(s) has not licensed this under one of these licenses, we cannot host them.
										</span>
										You should instead 
										<a href="/newlink">
											link
										</a> 
										to where the author(s) hosts them.
									</div>
									<div style="margin-left: 20px; margin-bottom: 10px;">
										<input type="radio" name="creator_license" value="cc_pd" {% if cc_pd %}checked{% endif %}> CC - Public Domain Dedication
										<br>
										<input type="radio" name="creator_license" value="cc_a" {% if cc_a %}checked{% endif %}> CC - Attribution
										<br>
										<input type="radio" name="creator_license" value="cc_a_sa" {% if cc_a_sa %}checked{% endif %}> CC - Attribution - Share Alike
										<br>
										<input type="radio" name="creator_license" value="cc_lgpl" {% if cc_lgpl %}checked{% endif %}> CC - GNU Lesser General Public License
										<br>
										<input type="radio" name="creator_license" value="bsd" {% if bsd %}checked{% endif %}> BSD License
										<br>
										<div style="
											margin-left: 17px;
											margin-top: 4px;
											margin-bottom: 6px; 
											font-size: 13px;
											">
											If the required license does not appear in this list you must 
											<a href="/newlink" target="_blank">
												link 
											</a>
											to it instead. We only host files with these licenses.
										</div>
									</div>
									Author:
									<input type="text" name="creator" value="{{creator}}">
									<br>
									<div style="font-size:12px;">
										(if attribution required)
									</div>
								</div>
								{% if need_license %}
									{% if not file_error %}
										<br>
										<span class="error">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											{{need_license}}
										</span>
									{% endif %}
								{% endif %}
							</td>
						</tr>
						{% if over18 == True %}				
							<tr>
								<td>
									Audience
								</td>
								<td>
									<input type="radio" name="audience" value="kids" {% if kids %}checked{% endif %}> okay for everyone<br>
									<input type="radio" name="audience" value="sfw" {% if sfw %}checked{% endif %}> sfw, but not okay for kids<br>
									<input type="radio" name="audience" value="nsfw" {% if nsfw %}checked{% endif %}> nsfw
								</td>					
							</tr>
						{% endif %}	
						<tr>
							<td>
								Safety
							</td>
							<td>
								<input type="checkbox" name="food_related" value="True" {% if food %}checked{% endif %}>
								Check if food/drink related 
								<br>
								<span style="font-size:12px;">
									(We just remind people downloading these that not all materials are food safe)
								</span>
							</td>
						</tr>
					</table>


					<div style="
						padding-bottom:20px; 
						float:left; 
						clear:left; 
						margin-left:140px;
						">
						<br>
						<input type="submit" value="Upload" />
					</div>
				</form>
			</div>	

			<div style="
				float:left; 
				margin-top:30px; 
				margin-left:50px; 
				width: 260px; 
				height: 340px; 
				border-radius: 5px; 
				padding:40px; 
				padding-top:20px; 
				padding-bottom:20px; 
				background:#FFEFC6; 
				color:#735005; 
				text-align: left;
				">
				<span style="font-size:30px; color:#d45e6a;">
					How to Upload
				</span>
				<br>
				<span style="font-size:12px; color:#999;">
					Upload freely and responsibly
				</span>
				<br>
				<br>
				<span style="font-size:14px;">
					You must be the rights holder of the print. 
					<br>
					<br>
					The upload cannot be over 5mb.
					<br>
					<br>
					Categorize prints for the right audience. 
					<br>
					<br>
					Weapons and dangerous prints are prohibited.
					<br>
					<br>
					Alert users if the prints will contact food or drink. Such prints may not be safe. 
				</span>
			</div>

		</div>
	</div>
</body>
</html>