<!DOCTYPE html>
<html>
<head>
	
	<title>
		Bld3r Password Reset Acknowledgement
	</title>

</head>
<style>
	* {
		margin:0px;
		font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
		//border:solid #999 1px;
	}
	* a{
		text-decoration: none;
		color:#0077cc;
	}

	* a:visited{
		color:#4a6b82;
	}
	.header3 {
		margin:0px;
		padding-top: 3px;
		//border-bottom: 1px #999 solid;
		vertical-align: top;
		color:#4a6b82;		
	}
	.header3 a {
		text-decoration: none;
		color:#4a6b82;
		vertical-align: top;
	}	
</style>
<body>
	{% include "header3.html" %}
	<div style="margin:20px;">
		Your password reset request is being processed.
		<br>
		<br>
		If your submission matches our records, we will contact you via email shortly so you can reset your password.
	</div>
	<hr>
	<div style="margin:20px;">
		<a class="title" href="/">Home</a>
	</div>
</body>
</html>