			<span>
				<!-- all spans in order because css does not have right to left attribute -->
				
				<span>
					<!--
					<a href='javascript:;' class='one_star' id="onestar{{obj_id}}">★</a>
					-->
					★
				</span>
				<span>
					<!--
					<a href='javascript:;' class='two_star' id="twostar{{obj_id}}">★</a>
					-->
					★
				</span>

				<span>
					<!--
					<a href='javascript:;' class='three_star' id="threestar{{obj_id}}">★</a>
					-->
					★
				</span>				
				
				<span>
					<!--
					<a href='javascript:;' class='four_star' id="fourstar{{obj_id}}">☆</a>
					-->
					☆
				</span>
	
				<span>
					<!--
					<a href='javascript:;' class='five_star' id="fivestar{{obj_id}}">☆</a>
					-->
					☆
				</span>

			</span> 