<!DOCTYPE html>
<html>
<head>
	
	<title>
		Bld3r Contribute
	</title>
	<style>
	* {
		margin:0px;
		font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
		//border:solid #999 1px;
	}
	* a{
		text-decoration: none;
		color:#0077cc;
	}

	* a:visited{
		color:#4a6b82;
	}

	</style>
</head>

<body>
	{% include "header3.html" %}

	<div>
		Bld3r TERMS OF USE
		<br>
		<br>
		The website at www.bld3r.com (the "Site") is copyrighted work belonging to Bld3r LLC ("Company", "us", and "we"). We provide a service for our users to share digital models and designs, these primarily represent 3D objects. We also aggregate links to other freely availble models, links to tutorials regarding 3D printing, links to news article that the 3D printing community may find interesting, and provide a community setting to discuss these models and links (these comprise the "Services" we provide).
		<br>
		<br>
		Please do read this agreement carefully. Your use of, or registration on any part or aspect of the Site constitutes your agreement to abide by the rules and these terms. If you cannot agree to these terms and rules, do not use the Site. This agreement and these terms may be modified from time to time. Please check back to make sure you continue to agree to the terms. Continuing to use the site constitutes your acceptance of any and all changes, or revisions, that affect this agreement.
		<br>
		<br>
		Certain aspects of the Services or Site may be subject to other guidelines, terms, or rules. All of which are incorporated by reference to these terms.
		<br>
		<br>
		Any failure to follow these rules. Whether parts of this agreement or other rules listed on the site may result in termination of your access to the website, without notice. 
		<br>
		<br>
		We also care deeply about the culture and values of this site. Therefore, to maintain it's integrity, we must, unfortunately, also reserve the right to terminate access of any user, without notices, for any reason.
		<br>
		<br>
		Adults Only:
		<br>
		<br>
		We require users of the site to be over 18 years of age. While we would like to provide a perfectly safe environment for all potential users, due to the potential to encounter adult content, we have provided some filters to prevent users from encountering this adult content, however, we cannot ensure they will always be effective. Therefore, we require all users to be adults. 
		<br>
		<br>
		Monitoring:
		<br>
		<br>
		Because we must maintain the integrity of this site, we may monitor your activity on the site. 
		<br>
		<br>
		Use of User ID and Password:
		<br>
		<br>
		If you set up an account with us, you will be responsible for maintaining the confidentiality of your content. You may not transfer or lease your user id or password to anyone without our written approval. 
		<br>
		<br>
		If you feel your account has been compromised and is no longer secure, please contact us as soon as possible and we can suspend your account until further notice.
		<br>
		<br>

		Use of site:
		<br>
		<br>
		You agree not harass or intimidate anyone on any part of the site. Do not use any potentially offensive language or communicate anything potentially offensive. You also agree not provide any information that can personally identify you are anyone else or that may invade anyone's privacy. 
		<br>
		<br>
		You may only use this site for lawful purposes. Do not provide to or post on or through the site any graphics, text, photographs, images, video, audio or other material that includes instructions for weapon and/or explosive manufacture or use.
		<br>
		<br>
		Uploading content or linking to content ("sharing"):
		<br>
		<br>
			User may upload or link to various content. These are both considered "sharing" for the purposes here.
		<br>
		<br>
			Content
		<br>
		<br>
			All content shared must have a license that allows it to be downloaded for free without any hindrance. Do not share to models that requires membership or payment to download. Do not share anything other than 3D printing tutorials, models, news, or other content strictly relevant to the site.
		<br>
		<br>
			If someone else may hold the copyright to an to it, do not share it. 
		<br>
		<br>
			If anything may be potentially harmful to a computer, do not share it.
		<br>
		<br>
			Do not share to anything that may be considered gore, profane, any type of advertisement or solicitation or junk mail, any personal information or the personal information of others, anything that may be harass others or even annoy them, anything that may be illegal or encourage illegal behavior, or anything defamatory. 
		<br>
		<br>
			DO NOT SHARE ANY WEAPONS, anything that may easily be used as a weapon, can be modified to become a weapon, or anything that appears to be a weapon. We will remove and ban you if you do. WE ARE VERY SERIOUS ABOUT THIS. No weapons, prop weapons, or even objects that aren't weapons but are weapon themed. 
		<br>
		<br>
			Secondary license

				When you submit content that requires you to select a license, the license that you select will apply to the content you submit and all subsiquent content you submit that is directly related to that submission. That is, if you upload something, all photos and text related to that thing that appear on the webpage dedicated to that will be under the same license. By submitting content you hereby grant selected licenses royalty free and fully paid, that endure forever. The license cannot be changed after selected. Do not upload anything if you think that you may not want a creative commons license to apply to it in the future. 
		<br>
		<br>
				By submitting you also grant us a license to distribute the submitted content indefinitely until you choose to remove that content from our servers. However, by submitting content, you recognize that by granting a creative commons license your content may appear here again, submitted by someone else, at any time. By submitting content you agree to grant us a license to distribute your work if uploaded by someone else at some time in the future. You agree to irrevocably waive your ability to change the license with which you submitted your content at any time in the future.
		<br>
		<br>
				All contributions to the site that are not governed by a specific license (e.g. comments, tags, wiki, votes, etc.) will be licensed under creative commons without attribution or any not for profit exemptions. When you post this content on the site, you authorize and direct us to make such copies thereof as we deem necessary in order to facilitate the posting and storage of the content on the site. 
		<br>
		<br>

		Downloading Content on the site or from other sites.		
		<br>
		<br>
			Always be very careful when downloading files from our site or others. Always scan the file for viruses after you download them. We will try to monitor the site for potential viruses or malware, however, some might get through. Back up the data on your computer before using the site. All files served by us are as is, and may contain potentially harmful software. If you are not willing to waive our liability for the potential damage these files may cause, do not use the site. By using, or continuing to use, the site and our services, you agree to waive liability for potential damage to your computer or other hardware that may use files obtained via this site.
		<br>
		<br>

			Please do be smart and do check files you download for viruses and malware. We cannot stress this enough.
		<br>
		<br>
		Using the Wiki
		<br>
		<br>
			When submitting content to the wiki, or "community," sections of the site. Do not plagerize other people or submit anything that someone else may hold the copyright to. If you think someone else may hold the copyright, do not submit it.  
		<br>
		<br>
			All contributions to the wiki will be licensed under creative commons without attribution or any not for profit exemptions. When you post content on the site, you authorize and direct us to make such copies thereof as we deem necessary in order to facilitate the posting and storage of the content on the site. 
		<br>
		<br>

		Claims of Copyright Infringment:
		<br>
		<br>
			If you see anything on our site that you believe infringes your copyright rights, you may notify our Digital Millennium Copyright Act agent. Please send the following information:

			    Identification of the copyrighted work or works claimed to have been infringed;
			    
			    Identification of the material on our servers that is claimed to be infringing and that is to be removed, including the URL or other information to enable us to locate the material;
			    
			    A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by you as copyright owner, or by your agent, or by law;
			    
			    A statement that the information in your notice is accurate, and under penalty of perjury, that you are the owner (or authorized to act on behalf of the owner) of the exclusive copyright right that is allegedly being infringed.
			    
			    Your physical or electronic signature, or of someone authorized to act on your behalf;
			    
			    Instructions on how we may contact you: preferably email, but also address and phone

			Please contact our designated agent under the Digital Millennium Copyright Act at:

			        Attn: Copyright Agent 
			        Bld3r LLC 
			        33 Havemeyer Street 
			        Suite 3F 
			        Brooklyn, NY 11211 

			You may email the designated agent via bld3r.com@gmail.com. Please include "Claim of copyright infringement" in the subject of your email. For clarity, only DMCA notices should go to the Copyright Agent. 

			Use the same procedure for any claimed trademark violations or other infringements. If we receive a DMCA notice and remove something you posted and you do not have a verified email, we will have no way of notifying you, so you will have to contact us if you think that may have happened. Keep in mind that we reserve the right to remove any content at any time whether or not it infringes or violates any of our policies. Sorry, we hope this isn't too much of an inconvience.
		<br>
		<br>


		Hotlinking:
		<br>
		<br>
		Do not hotlink to the images we serve (we will ban you and the website hotlinking).
		<br>
		<br>

		You agree not to, or attempt to, disrupt the service of this website or interfere with it in any way, prevent others from using it in any way, or gain access to administrative areas of the site. You agree not to present yourself as an administrator of this site.

		<br>
		<br>

		We do not endorse any content shared by any user. Neither the text they may provide as a comment, nor any other content they may provide.

		<br>
		<br>

		The site may be shut down at all content deleted at any time. Do not use the site if this is a problem. The site will not act as an archive. Do not use it as such. Back up all your files on your own.

		<br>
		<br>

		The terms of use, here, may change at any time. Please come back frequently to see if there are any changes. New terms of use will apply to people who are already users 30 days after a change is made, but will apply to new users immediately.

		<br>
		<br>
		Waiver of Liability and Disclaimers
		<br>
		<br>

			YOU ACKNOWLEDGE THAT YOU USE THIS SERVICE AT YOUR OWN RISK. 
		<br>
		<br>
			This site is currently in beta. Expect problems with the site. The site is provided "as-is" and "as available" without warranties and conditions of any kind whether expressed or implied. We make no warrenty that the site will continue to operate, will operate uninterupted, will be accurate, will be free of malware or viruses, or will be legal or safe.
		<br>
		<br>
			Some areas do not allow this disclaimer of implied warranties, so this may not apply to you.

		<br>
		<br>
			In no event will we, the people who provide content to the site, the people that manage our servers, or anyone else we do business with be liable for any loss or any indirect, consequential, exemplary, incidental, special, or other punitive damages arising from or relating to your use, or inability of use, of this site. Use of this site is at your own discression and your own risk. Any damage to any electronics or computer system you use due to your use of this site is your sole responsibility. 

		<br>
		<br>
 			Our liability to you for any damages arising from or related to these terms of use (for any cause whatsoever and regardless of the form of the action), will at all times be limited to the greater of (a) fifty us dollars ($50); or (b) amounts you've paid company in the prior 12 months (if any). the existence of more than one claim will not enlarge this limit. you agree that our suppliers will have no liability of any kind arising from or relating to these te rms of use.
		<br>
		<br>
			Some jurisdictions do not allow the limitation or exclusion of liability for incidental of consequential damages, so the above limitation or exclusion may not apply to you. 
		<br>
		<br>























	</div>
</body>
</html>