<div class="why_bld3r_all">
	<style>
		* {
			//border: 1px solid red;
		}
		.why_bld3r_all {
			display: none;
		}
		.why_bld3r {
			float: left;
			font-family: Times;
			height:209px;
			font-size:60px;
			padding-right: 50px;
			padding-left: 50px;
			padding-top: 150px;
			opacity: 0;

		}
		.why_bld3r_reasons > div {
			width: 750px;
			display: none;

			border: 1px solid #999;
			border-radius: 10px;
			margin: 5px 5px 5px 0px;
			padding: 10px 0px 10px 0px;
			float: left;
			clear: left;
		}

		.why_bld3r_outline a {
			font-family: Times;
		}
		.why_bld3r_reason_header {
			//border: 1px solid red;

			width: 300px;
			padding: 2px 10px 0px 0px;
			font-size: 45px;
			font-family: Times;
			text-align: right;
			float: left;
			vertical-align: middle;
		}
		.why_bld3r_reason_sub_section {
			float: left;
			border-left: solid 1px #999;
			padding-left: 10px;
		}
		.why_bld3r_reason_sub {
			//border: 1px solid red;

			padding: 2px 0px 2px 0px;
			font-family: Times;
			float: left;
			clear: left;
		}	
	</style>


	<div class="why_bld3r_container" style = "
		width: 1160px;
		margin: 0 auto;
		cursor: pointer;
		">

		<div class="why_bld3r_outline" style="
			padding: 5px;
			text-align: center;
			width:1160px;       
			float:left;
			overflow: hidden;
			">
			<div class="why_bld3r">
				Why Bld3r?
			</div>
			<div class="why_bld3r_reasons" style="
				float: left;
				">
				<div class="why_bld3r_reason_1">
					<div class="why_bld3r_reason_header" style="padding-top: 27px">
						Full Control
					</div>
					<div class="why_bld3r_reason_sub_section">
						<div class="why_bld3r_reason_sub">
							We don't want or need control of your objects.
						</div>
						<div class="why_bld3r_reason_sub">
							You don't have to trust us with your data.
						</div>
						<div class="why_bld3r_reason_sub">
							Share via sites like
							<a href="https://www.github.com" style="font-family: Times;">GitHub</a>,
							<a href="https://thepiratebay.sx/browse/605" style="font-family: Times;">TPB</a>, or even
							<a href="http://www.thingiverse.com/" style="font-family: Times;">Thingiverse</a>...
						</div>
						<div class="why_bld3r_reason_sub">
							...or allow some limited control by hosting on our servers.
						</div>
					</div>
				</div>
				<div class="why_bld3r_reason_2">
					<div class="why_bld3r_reason_header">
						Open Source
					</div>
					<div class="why_bld3r_reason_sub_section">
						<div class="why_bld3r_reason_sub">
							We believe in full transparency.
						</div>
						<div class="why_bld3r_reason_sub">
							We are on
							<a href="https://github.com/bld3r" style="font-family: Times;">GitHub</a>.
						</div>
					</div>
				</div>
				<div class="why_bld3r_reason_3">
					<div class="why_bld3r_reason_header">
						Independent
					</div>
					<div class="why_bld3r_reason_sub_section">
						<div class="why_bld3r_reason_sub">
							No conflicts of interest, because we don't sell printers. 
						</div>
						<div class="why_bld3r_reason_sub">
							We have implemented <a href="http://thingtracker.net/" style="font-family: Times;">thing tracker</a>. You can find the feed <a href="/thingtracker" style="font-family: Times;">here</a>.
						</div>
					</div>
				</div>
				<div class="why_bld3r_reason_4">
					<div class="why_bld3r_reason_header">
						Tutorials
					</div>
					<div class="why_bld3r_reason_sub_section">
						<div class="why_bld3r_reason_sub">
							Not just a repository, also a community.
						</div>
						<div class="why_bld3r_reason_sub">
							Help reduce the learning curve; upload a lesson.
						</div>
						<div class="why_bld3r_reason_sub">
							<a href="/welcome">Learn more...</a>
						</div>
					</div>
				</div>
				<div class="why_bld3r_reason_5">
					<div class="why_bld3r_reason_header" style="
						margin-left: 190px;
						margin-top:-3px;
						">
						<a href="/signup" style="font-family: Times;">
							Sign up now
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="why_bld3r_close" style="
		float:left;
		margin-left: -19px;
		margin-top: 1px;
		padding: 2px 0px 0px 2.5px;
		width: 8px;
		height: 8px;
		font-size: 11px;
		line-height: 4px;
		border: 1px solid #ccc;
		border-radius: 8px;
		cursor: pointer;
		color: #ccc;
		display: none;
		">
		x
	</div>
	<div style="clear:both;"></div>
	<br>
</div>